# Default ignored files
.idea/shelf/
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests/
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml

# Ignore all files in the 'Executables' directory one level above that don't have the .exe extension
.idea/
Semester2/Programmieren2/Executables/build/CMakeFiles
Semester2/Programmieren2/Executables/build/**
Semester2/Programmieren2/!Executables/build/*.exe
Semester2/AlgorithmenUndDatenstrukturen/Executables/build/CMakeFiles
Semester2/AlgorithmenUndDatenstrukturen/Executables/build/**
Semester2/AlgorithmenUndDatenstrukturen/!Executables/build/*.exe
Semester3/Compiler/Executables/build/CMakeFiles
Semester3/Compiler/Executables/build/**
!Semester3/Compiler/Executables/build/
!Semester3/Compiler/!Executables/build/*.exe
