body {
    background-color: lightblue;
    font-family: 'Courier New';
    color: brown;
}
h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

h2 {
    color: black;
    background-color: white;
    padding-left: 10px;
}

figure { margin-left: 0 }

figcaption {
    font-size: 8px;
    color: gray;
}

#menueleiste li {
    list-style-type: none;
    float: left;
    width: 150px;
}

.float-stop { clear: both }