body{
    background-color: cadetblue;
    font-family: "Times New Roman";
}

h1{
    text-align: center;
    color: yellow;
}

h2{
    text-align: center;
    color: yellow;
}
p{
    text-align: center;
}